@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:darkorange">Welcome to the <b>Gaming Recruitment Club!</b> </h1>
    <p style="font-family:Georgia; color:aqua">Do you wish to hire Devs & Testers for your game ? Then you've come to the right place!</p>
    <p style="font-size:large; color:coral"> <b>Trusted by: </b></p>
    <img src="https://1000logos.net/wp-content/uploads/2020/08/Bitdefender-Logo.png" alt="Bitdefender Logo" width="300" height="300">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/W3Schools_logo.svg/1088px-W3Schools_logo.svg.png" alt="W3 Logo" width="250" height="250">
    <p style="font-size:large; color:deepskyblue"><b>Certified by: </b</p>
    <img src="https://scoalainformala.ro/wp-content/uploads/2021/07/logo_color.png" alt="logoscoalait" width="150" height="100" class="logo">

</div>
