@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the <b>Gaming Recruitment Club!</b> </h1>
    <p>Do you wish to hire Devs & Testers for your game ? Then you've come to the right place!</p>
    <p> Trusted by </p>
    <img src="https://i.pcmag.com/imagery/reviews/04rK8yQu2cIXBMdJVdlQRnz-40.fit_scale.size_1028x578.v1635523390.jpg" alt="Bitdefender Logo" width="350" height="300">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/W3Schools_logo.svg/1088px-W3Schools_logo.svg.png" alt="W3 Logo" width="250" height="300">
    <p class="text">Certified by: </p>
    <img src="https://scoalainformala.ro/wp-content/uploads/2021/07/logo_color.png" alt="logoscoalait" width="150" height="100" class="logo">

</div>
