@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color:lime">@ViewData["Title"]</h1>

<p style="font-family:Candara; font-size:20px; color:aquamarine">Gaming Recruitment Club respects the developers & applicants privacy, every data we collect is submitted encrypted.  </p>
