@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Gaming Recruitment Club respects the developers & applicants privacy, every data we collect is submitted encrypted.  </p>
