html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.text {
    text-align: center;
}
#logo {
    position: fixed;
    top: 0;
    left: 0;
}
.container-fluid
{
    background-color: lightyellow;
}
.footer {
    background-image: url("https://i.pinimg.com/originals/35/13/38/3513382f64c47d3cf805a88ee6dc4169.jpg");
    background-size: cover;
}
body {
    background-image: url("https://marketplace.canva.com/EAE98IQlC5E/1/0/1600w/canva-purple-simple-gaming-background-futuristic-game-zone-desktop-wallpaper-iC5A8PGB4t0.jpg");
    background-size:cover;
}