html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.text {
    text-align: center;
}
#logo {
    position: fixed;
    top: 0;
    left: 0;
}
.container-fluid
{
    background-color: lightyellow;
}
.footer
{
background-color: orangered;
}
.Authentification
{
    font-family:Gabriola;
    color:black;
    font-size:30px;
    text-decoration:none;
text-align:right;
}